<div class="container" *ngIf="productformGroup">
    <form [formGroup]="productformGroup">
        <div class="form-group">
            <div class="form-group">
                
                <input type="text" class="form-control" formControlName="id" type="hidden">
            </div>
            <br>
            <label> Name</label>
            <input type="text" class="form-control" formControlName="name"
            ngClass="{'is-invalid':submitted && productformGroup.controls.name.error}">
            <div *ngIf="submitted && productformGroup.controls.name.errors" class="invalid-feedback">
                <div *ngIf="productformGroup.controls">Name is Required</div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <label> Price</label>
            <input type="text" class="form-control" formControlName="price">
        </div>
        <br>
        <div class="form-group">
            <label> quantity</label>
            <input type="text" class="form-control" formControlName="quantity">
        </div>
        <br>
        <div class="form-group">
            <label> Selected</label>
            <input type="checkbox" formControlName="selected" class="form-check">
        </div>
        <br>
        <div class="form-group">
            <label> Available</label>
            <input type="checkbox" formControlName="available" class="form-check">
        </div>
        <br>
        <button class="btn btn-success" (click)="OnUpdateProduct()">UPDATE</button>
    </form>
</div>
